

#logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:45px;
    margin: 5px;
       
}
#contLogo{
    display: inline-block;
    background-color: lightsteelblue;
    border-radius: 25px;
    margin: 10px;
      
}
.cotizacion h4{
    color:rgb(21, 182, 21);
    margin: 10px;
    
}
/* Botones Inicio */
.botonesIni button{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* Botones Productos */
.botonesProd{
    display: none;
}
.botonesProd button{
    display: inline-block;
    margin: 10px;
    padding: 10px;
       
}
/* Botones y secciones de Clientes */
.botonesClientes button{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.botonesClientes{
    display: none;
}
#contenedorCargarCliente{
    display: none;
}
#contenedorCargarCliente input{
    display: block;
    margin: 5px;
    padding: 5px;
}
#contenedorCargarCliente button{

    display: inline-block;
    margin: 5px;
    padding: 5px;
}

label{
    margin: 10px;
}
#contenedorCargar{
    display: none;
}
#contenedorStock{
    display: none;
}
#contenedorFiltrado{
    display: none;
}

#contenedorCargar input{
    display: block;
    margin: 5px;
    padding: 5px;
}
#contenedorCargar button{

    display: inline-block;
    margin: 5px;
    padding: 5px;
}


#tablaProd{
    border-collapse: collapse;
}

#tablaCl{
    border-collapse: collapse;
}




